# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env

# Flask specific
instance/
.flaskenv

# Node/React
node_modules/
.parcel-cache/
dist/
build/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log
